
h1 {
    color: rgb(255, 0, 0);
}
p {
    color: rgb(126, 124, 24);
    text-decoration: none;
    
}
a {
    text-decoration: none;
}
body {
    background-color: rgb(255, 208, 0);
}
hr {
    background-color: rgb(255, 0, 0);
}